<h2>Gestion des Biens</h2>

<div class="flex">

    <form id="filter-bien-confirmation">
        <h4>confirmation:</h4>
        <select name="confirmation" id="confirmation">
            <option value="nconfirmed">Non confirmés</option>
            <option value="confirmed">Confirmés</option>
        </select>
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    <form id="filter-bien-type">
        <h4>type du bien:</h4>
        <select name="type" id="type">
            <option value="villa">Villa</option>
            <option value="appart">Appartement</option>
            <option value="studio">Studio</option>
        </select>
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    <form id="filter-bien-location">
        <h4>Adresse:</h4>
        <input type="text" placeholder="Adresse ...">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>


<div id="biens-wrapper">

    

    


</div>


<script src="/js/admin-biens.js"></script>