<h2>Gestion des utilisateurs</h2>

<div class="flex">

    <form id="filter-form-confirmation">
        <select name="confirmation" id="confirmation">
            <option value="nconfirmed">Non confirmés</option>
            <option value="confirmed">Confirmés</option>
        </select>
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    <form id="filter-form-name">
        <input type="text" placeholder="user ...">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>


<div id="users-wrapper">

    

    


</div>


<script src="/js/admin-users.js"></script>