<div id="vertnav">
    <img src="/imgs/logo1.png" alt="">

    <a href="/admin/dashboard">
        <i class="fa-solid fa-gear"></i>
        Dashboard
    </a>
    <a href="/admin/biens">
        <i class="fa-solid fa-house"></i>
        Biens
    </a>
    <a href="/admin/users">
        <i class="fa-solid fa-user"></i>
        Utilisateurs
    </a>
    <a href="/admin/demandes">
        <i class="fa-solid fa-bell"></i>
        Demandes
    </a>
    <a href="/admin/messages">
        <i class="fa-solid fa-envelope"></i>
        Messagerie
    </a>
    <a href="/logout">
        <i class="fa-solid fa-share-from-square"></i>
        Logout
    </a>
</div>