

<div id="bann">
    <div>
        <h1 id="show"><span>Echangez votre bien</span> <b></b></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit magnam veniam eos! Voluptatibus doloribus quasi natus iste 
            iure aspernatur quos, nostrum tenetur quam quae nulla inventore, a nobis ex minus?</p>
       

        <button>Estimez la valeur de votre bien</button>
    </div>

    <div>
        <!-- <img src="/imgs/bann-img.jpg" alt=""> -->
         <h2 class="qs">Que recherchez vous ?</h2>
        <img src="/imgs/housep1.png" alt="">
        <form action="">
            <select name="" id="" aria-placeholder="Recherche..">
                <option value="">Tout</option>
                <option value="">Maison</option>
                <option value="">Appartement</option>
                <option value="">Studio</option>
            </select>
            <button type="submit" style="margin: 0px;"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</div>






<div id="swappez">
    <h2>
        Redéfinissez les échanges : Swappez votre bien en ligne, tout simplement.
    </h2>
    <div class="flex">
        <div class="swapp">
            <img src="/imgs/swapp-doc.png" alt="">
            <h3>Simplifiez les formalités</h3>
            <p>Un seul acte notarié suffit pour échanger votre propriété. Avec l'échange immobilier, 
                vous économisez temps et paperasse.</p>
        </div>
        <div class="swapp">
            <img src="/imgs/swapp-money.png" alt="">
            <h3>Économisez jusqu'à 60% sur les frais</h3>
            <p>Avec l'échange immobilier, bénéficiez d'une réduction significative sur les 
                frais de notaire. Une cerise sur le gâteau pour votre portefeuille !</p>
        </div>
        <div class="swapp">
            <img src="/imgs/swapp-house.png" alt="">
            <h3>Découvrez des biens exclusifs</h3>
            <p>Grâce à l'échange, découvrez des biens exclusifs. Plus besoin d'attendre pour vendre 
                ou acheter, échangez et explorez le marché immobilier différemment.</p>
        </div>
    </div>
</div>




<div id="nos-bien">
    <h2>Explorez nos biens</h2>

    <div id="biens">
        <a href="/detail-property?id=123">
            <div class="bien">
                <div class="bien-img-container">
                    <img src="/imgs/bien1.jpg" alt="">
                </div>
                <div class="pd15">
                    <div class="info">
                        <img src="/imgs/john.jfif" alt="">
                        <h4>John Doe</h4>
                    </div>
                    <div class="notes">
                        <i class="fa-solid fa-star goldenstar"></i>
                        <i class="fa-solid fa-star goldenstar"></i>
                        <i class="fa-solid fa-star goldenstar"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, necessitatibus recusandae quia autem quae fuga magnam officia maxime culpa natus vero incidunt molestias$
                         saepe nemo reprehenderit deleniti, quasi facere? Mollitia.
                    </div>
                </div>
            </div>
        </a>
        

        <a href="/detail-property?id=123">
            <div class="bien">
                <div class="bien-img-container">
                    <img src="/imgs/bien2.jpg" alt="">
                </div>
                <div class="pd15">
                    <div class="info">
                        <img src="/imgs/olivia.jfif" alt="">
                        <h4>Olivia Doe</h4>
                    </div>
                    <div class="notes">
                        <i class="fa-solid fa-star goldenstar"></i>
                        <i class="fa-solid fa-star goldenstar"></i>
                        <i class="fa-solid fa-star goldenstar"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, necessitatibus recusandae quia autem quae fuga magnam officia maxime culpa natus vero incidunt molestias$
                         saepe nemo reprehenderit deleniti, quasi facere? Mollitia.
                    </div>
                </div>
            </div>
        </a>



        <a href="/detail-property?id=123">
            <div class="bien">
                <div class="bien-img-container">
                    <img src="/imgs/bien3.jpg" alt="">
                </div>
                <div class="pd15">
                    <div class="info">
                        <img src="/imgs/matt.jfif" alt="">
                        <h4>Matt Doe</h4>
                    </div>
                    <div class="notes">
                        <i class="fa-solid fa-star goldenstar"></i>
                        <i class="fa-solid fa-star goldenstar"></i>
                        <i class="fa-solid fa-star goldenstar"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, necessitatibus recusandae quia autem quae fuga magnam officia maxime culpa natus vero incidunt molestias$
                         saepe nemo reprehenderit deleniti, quasi facere? Mollitia.
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>




<div id="calculator">
    <h2>Calculateur d'économies</h2>

    <div class="flex">
        <div>
            <h3>Évaluation de votre bien :</h3>
            <p>Valeur de votre bien :</p>
            <input type="number" placeholder="...">

            <p>Valeur du bien recherché :</p>
            <input type="number" placeholder="...">
        </div>

        <div>
            <h3>Économies estimées avec Swap Home :</h3>
            <p>Sur les frais de notaire :</p>
            <p id="economie-1">2350 euros</p>

            <p>Sur les frais de notaire + commission moyenne des agences :</p>
            <p id="economie-2">1200 euros</p>
        </div>
    </div>
</div>




<div id="marcher">
    <h2>Un marché innovant pour les propriétaires</h2>
    <div class="marchers">
        <div class="marcher">
            <div class="container-img-marcher">
                <img src="/imgs/plateforme.jpg" alt="">
            </div>
            <div class="pd15">
                <h3>Sans démarche</h3>
                <p>Chez SWAP HOME, il n'y a qu'une exclusivité. Vous êtes 
                    libre de continuer vos recherches où bon vous semble !</p>
            </div>
        </div>

        <div class="marcher">
            <div class="container-img-marcher">
                <img src="/imgs/plateforme.jpg" alt="">
            </div>
            <div class="pd15">
                <h3>Sans démarche</h3>
                <p>Chez SWAP HOME, il n'y a qu'une exclusivité. Vous êtes 
                    libre de continuer vos recherches où bon vous semble !</p>
            </div>
        </div>


        <div class="marcher">
            <div class="container-img-marcher">
                <img src="/imgs/plateforme.jpg" alt="">
            </div>
            <div class="pd15">
                <h3>Sans démarche</h3>
                <p>Chez SWAP HOME, il n'y a qu'une exclusivité. Vous êtes 
                    libre de continuer vos recherches où bon vous semble !</p>
            </div>
        </div>

        <div class="marcher">
            <div class="container-img-marcher">
                <img src="/imgs/plateforme.jpg" alt="">
            </div>
            <div class="pd15">
                <h3>Sans démarche</h3>
                <p>Chez SWAP HOME, il n'y a qu'une exclusivité. Vous êtes 
                    libre de continuer vos recherches où bon vous semble !</p>
            </div>
        </div>
    </div>
</div>

<div id="plan" style="display: none;">
    <h2>Choisissez votre plan</h2>
    <div>
        <div class="plan">
            <h3>Gratuit</h3>
            <h3>Free</h3>
            <h4>Idéal pour une utilisation ponctuelle</h4>
            <p><i class="fa-solid fa-circle-check"></i> Annonces consultables : 50/jour</p>
          
            <p><i class="fa-solid fa-circle-check"></i> Recherches sauvegardées : 1</p>
            <p><i class="fa-solid fa-circle-check"></i> Sauvegarde des annonces favorites</p>
            <p><i class="fa-solid fa-circle-check"></i> Notifications par email : 5/jour</p>
            
            <button>Go Free</button>
        </div>

        <div class="plan">
            <h3>Premium</h3>
            <h3>9€/mois</h3>
            <h4>Idéal pour ceux qui souhaitent commencer à échanger des biens</h4>
            <p><i class="fa-solid fa-circle-check"></i> Recherche de biens immobiliers : Illimité</p>
          
            <p><i class="fa-solid fa-circle-check"></i> Recherches sauvegardées : 10</p>
            <p><i class="fa-solid fa-circle-check"></i>  Alertes email actives : 5</p>
            <p><i class="fa-solid fa-circle-check"></i> Consultation des détails des biens</p>
            <p><i class="fa-solid fa-circle-check"></i> Messagerie sécurisée pour contacter les échangeurs</p>
            <p><i class="fa-solid fa-circle-check"></i> Historique des annonces</p>
            
            <button class="go-btn">Go Premium</button>
        </div>


        <div class="plan">
            <h3>Pro</h3>
            <h3>19€/mois</h3>
            <h4>Idéal pour les professionnels de l'immobilier et les utilisateurs intensifs</h4>
            <p><i class="fa-solid fa-circle-check"></i>Recherche de biens immobiliers : Illimité</p>
          
            <p><i class="fa-solid fa-circle-check"></i> Recherches sauvegardées : Illimité</p>
            <p><i class="fa-solid fa-circle-check"></i> Alertes email actives : Illimité</p>
            <p><i class="fa-solid fa-circle-check"></i> Consultation des détails des biens</p>
            <p><i class="fa-solid fa-circle-check"></i> Messagerie sécurisée pour contacter les échangeurs</p>
            <p><i class="fa-solid fa-circle-check"></i> Support prioritaire</p>
            <p><i class="fa-solid fa-circle-check"></i> Statistiques avancées</p>
            

            <button>Go Premium</button>
        </div>

        
    </div>
</div>



<footer>
    <div style="max-width: 1000px;margin: auto;">
        <img src="/imgs/logo1.png" alt="">
        <section class="flex">
            <div>
                <h3>SwapHome</h3>
                <p><a href="">Qui sommes nous?</a></p>
                <p><a href="">L'échange immobilier</a></p>
            </div>
            <div>
                <h3>Légal</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div>
                <h3>SwapHome</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div>
                <h3>Social Media</h3>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
            
        </section>
    </div>
</footer>


<!-- 

<div id="banner">

</div>

<div id="searchbien">
    <h2>Rechercher un bien</h2>
    <form action="">
        <select name="" id="">
            <option value="">(Ville..)</option>
            <option value="">Paris</option>
            <option value="">Lyon</option>
            <option value="">Marseille</option>
            <option value="">Toulouse</option>
        </select>
        <select name="" id="">
            <option value="">Vente</option>
            <option value="">Location</option>
        </select>
        <select name="" id="">
            <option value="">Maison</option>
            <option value="">Villa</option>
            <option value="">Terrain</option>
            <option value="">Appartement</option>
        </select>
        <select name="" id="">
            <option value="">(Neuf/Ancien)</option>
            <option value="">Neuf</option>
            <option value="">Ancien</option>
        </select>
        <button class="btn defaultb">
            <i class="fa-solid fa-magnifying-glass"></i>
            Rechercher
        </button>
    </form>
</div>


<div class="container-inside">


    <section id="une">
        <h2 class="title">A la une</h2>
        <div class="flexible">
            <img src="/imgs/villa1.jpg" alt="">
            <div>
                <a href=""><h3>Villa **</h3></a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit repudiandae delectus quidem reprehenderit. Ad ipsum in nisi voluptas error totam nesciunt iusto aut quod? Omnis veritatis corporis rerum nobis minus eaque, quae ut ex incidunt dolores rem fugit illum tempore expedita dicta, at modi tenetur sint. Eum sunt repellat quaerat..</p>
                <hr>
                <small>Propriétaire Nom et Prénom</small>
            </div>
        </div>
    </section>

    <section id="latest-properties">
        <h2 class="title">Dernières Propriétés Ajoutées</h2>
        <div class="property-list">
                <div class="property-item">
                    <img src="/imgs/maison2.jpg" alt="Image de">
                    <div class="property-info">
                        <h3>Maison</h3>
                        <div class="notes">
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sunt.</p>
                        
                        <a href="/property/detail?id=123" class="btn detailb">Voir Détails</a>
                    </div>
                </div>
                <div class="property-item">
                    <img src="/imgs/maison1.jpg" alt="Image de">
                    <div class="property-info">
                        <h3>Maison</h3>
                        <div class="notes">
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sunt.</p>
                        <a href="/property/detail?id=123" class="btn detailb">Voir Détails</a>
                    </div>
                </div>

                <div class="property-item">
                    <img src="/imgs/villa1.jpg" alt="Image de">
                    <div class="property-info">
                        <h3>Villa</h3>
                        <div class="notes">
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sunt.</p>
                        <a href="/property/detail?id=123" class="btn detailb">Voir Détails</a>
                    </div>
                </div>

                <div class="property-item">
                    <img src="/imgs/villa2.jpg" alt="Image de">
                    <div class="property-info">
                        <h3>Villa</h3>
                        <div class="notes">
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sunt.</p>
                        <a href="/property/detail?id=123" class="btn detailb">Voir Détails</a>
                    </div>
                </div>

                <div class="property-item">
                    <img src="/imgs/appart1.jpg" alt="Image de">
                    <div class="property-info">
                        <h3>Appartement</h3>
                        <div class="notes">
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sunt.</p>
                        <a href="/property/detail?id=123" class="btn detailb">Voir Détails</a>
                    </div>
                </div>

                <div class="property-item">
                    <img src="/imgs/appart2.jpg" alt="Image de">
                    <div class="property-info">
                        <h3>Appartement</h3>
                        <div class="notes">
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sunt.</p>
                        <a href="/property/detail?id=123" class="btn detailb">Voir Détails</a>
                    </div>
                </div>
        </div>
    </section> -->



<!-- 


    <section id="services" style="margin-top: 100px;">
        <h2 class="title">Nos Services</h2>
        <div class="services-grid">
            <div class="service-item">
                <i class="fa fa-home"></i>
                <h3>Estimation Gratuite</h3>
                <p>Nous offrons une estimation gratuite de votre bien immobilier.</p>
            </div>
            <div class="service-item">
                <i class="fa fa-users"></i>
                <h3>Conseil Immobilier</h3>
                <p>Recevez des conseils personnalisés de nos experts.</p>
            </div>
            <div class="service-item">
                <i class="fa fa-handshake"></i>
                <h3>Transactions Sécurisées</h3>
                <p>Nous garantissons des transactions sûres et sécurisées.</p>
            </div>
        </div>
    </section>


</div> -->


<!-- 
<div id="devenir-vendeur">
    <div>
        <h3>Devenir Vendeur !</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Dolorem quidem alias commodi culpa recusandae quibusdam quas nihil voluptatem inventore blanditiis!</p>
        <a href="/signup">Inscrivez-vous dès maintenant</a>
    </div>
</div>



<div id="contact">
    <h2 style="text-align: center;">Contactez nous</h2>
    <form action="">
        <div class="champ">
            <label for="nom">Nom et prénom</label>
            <input type="text">
        </div>

        <div class="champ">
            <label for="email">Email</label>
            <input type="email">
        </div>

        <div class="champ">
            <label for="phone">Téléphone</label>
            <input type="text">
        </div>

        <div class="champ">
            <label for="adresse">Adresse</label>
            <input type="text">
        </div>

        <label for="msg"><strong>Votre message</strong></label>
        <textarea name="" id="">

        </textarea>

        <button type="submit" class="btn defaultb">Envoyer</button>
        
    </form>
    <div class="success">Votre message à été envoyé avec succès. </div>
</div> -->






<!-- 

<footer>
    <div>
        <h3>Réseaux sociaux</h3>
        <hr>
        <p>
            <a href="">
                <i class="fa-brands fa-facebook"></i>
                facebook
            </a>
        </p>
        <p>
            <a href="">
                <i class="fa-brands fa-instagram"></i>
                instagram
            </a>
        </p>
        <div class="footer-bottom">
            &copy; 2024 <strong><i>Homeswap</i></strong>. Tous droits réservés.
        </div>
    </div>
</footer> -->


<script src="/js/show.js"></script>