

<div class="container-property">
    <form class="filter-property">
        <h3>Affiner votre recherche</h3>
        <hr>

        <div class="champ">
            <label for="ville">Ville</label>
            <select name="" id="ville">
                <option value="">Tout</option>
                <option value="paris">Paris</option>
                <option value="lyon">Lyon</option>
                <option value="marseille">Marseille</option>
                <option value="montpellier">Montpellier</option>
            </select>
        </div>

        <div class="champ">
            <label for="type">Type</label>
            <select name="" id="type">
                <option value="">Tout</option>
                <option value="maison">Maison</option>
                <option value="villa">Villa</option>
                <option value="terrain">Terrain</option>
                <option value="appart">Appartement</option>
            </select>
        </div>
<!-- 
        <label for="vl">Vente/location</label>
        <select name="" id="vl">
            <option value="">Tout</option>
            <option value="">Vente</option>
            <option value="">Location</option>
        </select>
         -->
       <div class="champ">
            <label for="nv">Neuf/Ancien</label>
            <select name="" id="nv">
                <option value="">Tout</option>
                <option value="neuf">Neuf</option>
                <option value="ancien">Ancien</option>
            </select>
       </div>
        

        <button class="btn filterbtn defaultb">
            <i class="fa-solid fa-magnifying-glass"></i>
            Recherche
        </button>
    </form>


    <div id="res-property">
        <h3>Résultat de la recherche :</h3>
        <hr>
        <div id="res">

             <div class="property-list">
                <!-- <div class="property-item-small">
                    <img src="/imgs/appart1.jpg" alt="Image de">
                    <div class="property-info">
                        <h3>Appartement</h3>
                        <div class="notes">
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sunt.</p>
                        <a href="/property/detail?id=123" class="btn detailb">Voir Détails</a>
                    </div>
                </div>
                <div class="property-item-small">
                    <img src="/imgs/appart1.jpg" alt="Image de">
                    <div class="property-info">
                        <h3>Appartement</h3>
                        <div class="notes">
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sunt.</p>
                        <a href="/property/detail?id=123" class="btn detailb">Voir Détails</a>
                    </div>
                </div>
                <div class="property-item-small">
                    <img src="/imgs/appart1.jpg" alt="Image de">
                    <div class="property-info">
                        <h3>Appartement</h3>
                        <div class="notes">
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sunt.</p>
                        <a href="/property/detail?id=123" class="btn detailb">Voir Détails</a>
                    </div>
                </div>
                <div class="property-item-small">
                    <img src="/imgs/appart1.jpg" alt="Image de">
                    <div class="property-info">
                        <h3>Appartement</h3>
                        <div class="notes">
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sunt.</p>
                        <a href="/property/detail?id=123" class="btn detailb">Voir Détails</a>
                    </div>
                </div>
                <div class="property-item-small">
                    <img src="/imgs/appart1.jpg" alt="Image de">
                    <div class="property-info">
                        <h3>Appartement</h3>
                        <div class="notes">
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sunt.</p>
                        <a href="/property/detail?id=123" class="btn detailb">Voir Détails</a>
                    </div>
                </div>
                <div class="property-item-small">
                    <img src="/imgs/appart1.jpg" alt="Image de">
                    <div class="property-info">
                        <h3>Appartement</h3>
                        <div class="notes">
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sunt.</p>
                        <a href="/property/detail?id=123" class="btn detailb">Voir Détails</a>
                    </div>
                </div>
                <div class="property-item-small">
                    <img src="/imgs/appart1.jpg" alt="Image de">
                    <div class="property-info">
                        <h3>Appartement</h3>
                        <div class="notes">
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star goldenstar"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sunt.</p>
                        <a href="/property/detail?id=123" class="btn detailb">Voir Détails</a>
                    </div>
                </div> -->


            </div> 
            

            <button type="submit" class="btn defaultb loadMore">
                <span style="position: relative;">Charger plus
                    <div class="animation" style="left:-35%">
                        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    </div>
                </span>
            </button>



        </div>
        
        


    </div>



</div>


<script src="/js/jq.js"></script>
<script>
    var idUser = '<%= _id %>'
    console.log(typeof(idUser))
</script>
<script src="/js/user-property.js"></script>